# tools generate it, cash & co
# ############################
__pycache__/
.idea/
.vscode/
gdalwmscache/
*~
*.pyc

# Re-generatable results
# ######################
*.log
result/*
doc/_build/*
*.html

# private / experimentals
# #############
*.ipynb
playground/
